// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.block{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    .block-image{
        text-align: center;
        img{
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }
    .block-content{
        margin-top: 5px;
        p{
            font-size: 17px;
    }
}
}

.more{
    text-align: center;
}

#view_more{
    display: inline-block;
    background-color: #fff;
    margin: 10px auto;
    padding: 7px 20px;
    border-radius: 25px;
    border: solid 2px  #03695f;
    font-weight: bold;
    transition: .3s;
    color: #03695f;
}
#view_more:hover{
    background-color: #0e5f49;
    color: white;
}