// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-page-header{
    background-color: white;
    padding: 30px;
    border-bottom: solid 1px gray;
    .my-profile{
        text-align: center;
    }
}

.my-content{
    background-color: white;
}

.edit-block{
    .block-sidebar{
        width: 20%;
        border: solid 1px black;
        background-color: white;
        .nav-link{
            font-size: 16px;
            color: black;
            padding-top: 12px;
            width: 100%;
            text-align: center;
            &:hover{
                cursor: pointer;
            }
            
        }
        .active{
                border-left: 2px solid black;
                font-weight: 600;
        }
    }
    .tab-content{
        padding: 15px 20px 15px 20px;
        border: solid 1px black;
        border-left: none;
        background-color: white;
    }
}

.image-posts{
    display: inline;
    img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    
}


.modal-backdrop.fade.show{
    display: none;
}

.modal-content{
    position: relative;
    z-index: 10;
}
