// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-page-header{
    background-color: white;
    padding: 30px;
    border-bottom: solid 1px gray;
    .my-profile{
        text-align: center;
    }
}

.my-content{
    background-color: white;
}

.edit-block{
    background-color: white;
    border: solid 1px gray;
    border-radius:3px;
     .block-sidebar{
        padding: 15px;
        text-align: center;
        border-right: solid 1px gray;
    }
    .edit-bar{
        padding: 15px;
        .user{
            margin-bottom: 10px;
        }
        .field{
            margin-bottom: 20px;
        }
    }
}

.image-posts{
    display: inline;
    img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    
}

#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.9);
    z-index: 2;
    display: none;
}

#modal-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 3;
}

.red{
    color: red;
}